html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
pre {
  font-size: 7pt;
  font-family: Palatino, Georgia, serif;
}
h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 400%;
  text-transform: lowercase;
  text-align: center;
}

h2 {
  padding-top: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 180%;
}
h3 {
  padding-top: 0;
  margin-top: 0;
  font-size: 180%;
  padding-bottom: 0;
  margin-bottom: 0.4em;
}

h4 {
  padding-top: 0;
  margin-top: 0;
  font-size: 150%;
  font-family: monospace;
}

h3::first-letter {
  text-transform: capitalize;
}

p {
  font-family: Palatino, Georgia, serif;
  font-style: italic;
}
